header {
  background-color: antiquewhite;
  font-size: 1rem;
}

header:hover {
  background-color: lavender;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h5 {
  text-align: center;
  color: black;
}

nav {
  background-color: antiquewhite;
  color: black;
  display: flex;
}

nav:hover {
  background-color: lavenderblush;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 10px;
}

p {
  font: black;
  font: size 1rem;
  text-decoration: none;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}